extends layout

block mv-header
  link(href="css/home.css", rel="stylesheet")    

block mv-navbar
  include incl/navbar

block mv-content
  include incl/home.html

block mv-scripts
  script(src="js/mvelo.js")