extends ../layout

block mv-title
  title About - Mailvelope
  meta(name="description", content="Open source project. Encryption is done in the browser, plugin compatible with arbitrary webmail provider.")

block mv-header
  link(href="css/about.css", rel="stylesheet")

block mv-content
  include ../incl/about.html
