extends ../layout

block mv-title
  title Blog - Mailvelope
  meta(name="description", content="#{description}")

block mv-header
  link(href="css/blog.css", rel="stylesheet")

block mv-content
  include ../incl/blog