extends ../layout

block mv-title
  title Donate - Mailvelope
  meta(name="description", content="Support Mailvelope, the free and open source project to bring PGP to the browser.")

block mv-content
  include ../incl/contribute