extends ../layout

block mv-title
  title FAQ - Mailvelope
  meta(name="description", content="Frequently asked questions on origins, feature set, security aspects of Mailvelope.")

block mv-header
  link(href="css/faq.css", rel="stylesheet")

block mv-content
  include ../incl/faq