<div class="hero-unit">
  <h2>An Envelope for Email</h2>
  <img src="img/mvelo_logo_soft.png">
  <p>Letters sealed with wax like in this painting by <a href="http://en.wikipedia.org/wiki/Cornelis_Norbertus_Gysbrechts" target="_blank">Cornelis Norbertus Gysbrechts</a> are quite rare today.</p>
  <p>But since the rise of the internet, even paper letters have lost their dominance in written communication. Today, we use email. And the vast majority of them are sent without an "envelope", like a modern post card.</p>
  <p>There are several <a href="http://www.philzimmermann.com/EN/essays/WhyIWrotePGP.html" target="_blank">good reasons</a> to use private communication.
    The encryption technology is also now available for everybody. Probably the biggest reason why email encryption hasn't gained more ground is a simple matter of convenience. Mailvelope wants to make a contribution here and offers a solution for users of webmail.
  </p></div>

<div class="row">
  <div class="span12">
    <h3>OpenPGP Encryption for Webmail</h3>
    <ul>
      <li>Mailvelope uses the <a href="http://en.wikipedia.org/wiki/Pretty_Good_Privacy" target="_blank">OpenPGP</a> encryption standard which makes it compatible with existing email encryption solutions.</li>
      <li>Installing Mailvelope from the Chrome Web Store ensures that the installation package is signed and therefore its origin and integrity can be verified.</li>
      <li>Mailvelope integrates directly into the webmail user interface, its elements are unintrusive and easy to use in your normal workflow.</li>
      <li>It comes preconfigured for major webmail providers.</li>
      <li>Mailvelope can be customized to work with any provider.</li>
    </ul>
  </div>
</div><!--/row-->

<div class="row">
  <div class="span7">
    <h3>Credits</h3>
    <p>Mailvelope is based on the work of the following open source projects which should be thanked and acknowledged.</p>
  </div>
  <div class="span4">
    <div class="well">
      <ul>
        <li><b><a href="http://openpgpjs.org/" target="_blank">OpenPGP.js</a></b></li>
        <li><a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></li>
        <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
        <li><a href="http://www.kendoui.com/" target="_blank">Kendo UI</a></li>
        <li><a href="https://developers.google.com/closure/" target="_blank">Closure</a></li>
        <li><a href="http://www.oxygen-icons.org/" target="_blank">Oxygen Icons</a></li>
      </ul>
    </div>
  </div>
</div><!--/row-->

<div class="row">
  <div class="span12">
    <h3>Terms and Conditions</h3>
    <p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License version 3 as published by the Free Software Foundation.</p>
    <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU Affero General Public License</a> for more details.</p>
  </div>
</div><!--/row-->

<div class="row">
  <div class="span12">
    <h3>Contact</h3>
    <ul class="unstyled">
      <li>Written by Thomas Oberndörfer <a href="mailto:info@mailvelope.com" target="_blank">info@mailvelope.com</a></li>
      <li>Public OpenPGP key <a href="http://keyserver.linux.it:11371/pks/lookup?op=index&amp;search=0x4A5CC77F" target="_blank">0x4A5CC77F</a></li>
      <li>Blog: <a href="http://www.chasinclouds.com/" target="_blank">http://www.chasinclouds.com/</a>
      </li><li>Follow me on <a href="https://twitter.com/toberndo" target="_blank">Twitter</a></li>
      <li>Source code available on <a href="https://github.com/toberndo/mailvelope" target="_blank">github</a></li>
    </ul>
  </div>
</div><!--/row-->
