<div class="row hero-unit mv-header">
    <h1>Mailvelope</h1>
</div>

<div class="row">
  <div class="span10 offset1">

    <div id="mainCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/Mailvelope_Web_Store1.png" alt="OpenPGP Encryption for Webmail">
          <div class="carousel-caption">
            <p>Mailvelope is a browser extension that enables the exchange of encrypted emails following the OpenPGP encryption standard.</p>
          </div>
        </div>
        <div class="item">
          <img src="img/Mailvelope_Web_Store2.png" alt="Mailvelope integrates directly into the Webmail user interface">
          <div class="carousel-caption">
            <p>No copy and paste required: Mailvelope adds the controls to encrypt and decrypt emails directly into your favorite Webmail provider.</p>
          </div>
        </div>
        <div class="item">
          <img src="img/Mailvelope_Web_Store3.png" alt="Comes preconfigured for major Webmail providers: GMail, Yahoo Mail, Outlook.com, GMX">
          <div class="carousel-caption">
            <p>Can be configured to work with basically any Webmail provider.</p>
          </div>
        </div>
        <div class="item">
          <img src="img/Mailvelope_Web_Store4.png" alt="Its elements are unintrusive and easy to use in your normal workflow">
          <div class="carousel-caption">
            <p>With Mailvelope the advantages of a cloud based Webmail solution can be combined with OpenPGP encryption.</p>
          </div>
        </div>
        <div class="item">
          <img src="img/Mailvelope_Web_Store5.png" alt="Mailvelope Options - Key Details">
          <div class="carousel-caption">
            <p>Generate keys and exchange them with others. Import existing GPG or PGP keys.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#mainCarousel" data-slide="prev">‹</a>
      <a class="carousel-control right" href="#mainCarousel" data-slide="next">›</a>
    </div>

  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Chrome Extension</h3>
    <p>Mailvelope can be installed from the Chrome Web Store.</p>
    <p>
      <a href="https://chrome.google.com/webstore/detail/kajibbejlbohfaggdiogboambcijhkke" target="_blank">
        <img src="img/ChromeWebStore_Badge_v2_340x96.png" style="width: 250px;"/>
      </a>
    </p>
  </div>
  <div class="span4">
    <h3>Firefox Addon</h3>
    <p>A Firefox version of Mailvelope is currently in development. Latest installation packages can be found in the <a href="https://github.com/toberndo/mailvelope/releases" target="_blank">releases</a> section on GitHub.</p>
    <p><img src="img/firefox_logo.png" style="margin-left: 20px; width: 150px;"/></p>
 </div>
  <div class="span4">
    <h3>How does it work?</h3>
    <p>This documentation guides you through the basics to help you get started with Mailvelope.</p>
    <p><a class="btn" href="help">View details »</a></p>
  </div>
</div>

<div class="row">
  <div class="well news-box">
    <h4>News</h4>
    <div class="headline">
      <strong>04.11.2013 / v0.7.0<span> |</span></strong>
      See the <a href="/blog/release-v0.7.0">announcement</a> for more details.
    </div>
    <div class="headline">
      <strong>24.08.2013 / v0.6.6<span> |</span></strong>
      Support of file upload on key import view
    </div>
    <div class="headline">
      <strong>27.06.2013 / v0.6.3<span> |</span></strong>
      Fix issues with importing of older keys
    </div>
    <div class="headline">
      <strong>07.03.2013 / v0.6.0<span> |</span></strong>
      New security features, first external audit of Mailvelope. See the <a href="/blog/security-audit-and-v0.6-release">announcement</a> for more details.
    </div>
    <div class="headline">
      <strong>06.02.2013 / v0.5.5<span> |</span></strong>
      Fix compatibility issues for compressed messages
    </div>
    <div class="headline">
      <strong>06.12.2012 / v0.5.4<span> |</span></strong>
      Improved positioning of decrypt dialog for large emails. See <a href="https://github.com/toberndo/mailvelope/blob/master/Changelog.md" target="_blank">changelog</a> for details.
    </div>
    <div class="headline">
      <strong>12.11.2012 / v0.5.3<span> |</span></strong>
      Support for Roundcube webmail client
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Contribute</h3>
    <p>Mailvelope is free and <a href="https://github.com/toberndo/mailvelope" target="_blank">open source</a>. Help  support its continued development.</p>
    <p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="PDX9GTZ72R7T6">
        <button type="submit" class="paypal-button">Donate</button>
        <select id="paypal-currency" class="input-small">
          <option>USD</option>
          <option>EUR</option>
        </select>
      </form>
    </p>
  </div>
  <div class="span4">
    <h3>Follow us</h3>
    <p>For updates on the development of Mailvelope follow us on Twitter.</p>
    <p><a href="http://twitter.com/mailvelope" target="_blank">
        <img src="img/twitter-bird-white-on-blue.png" class="img-rounded" style="margin-left: 20px; width: 45px; height: 45px;"/>
      </a>
    </p>
  </div>
  <div class="span4">
    <h3>OpenPGP.js</h3>
    <p>Mailvelope is based on OpenPGP.js a JavaScript implementation of the OpenPGP standard.</p>
    <p><a href="http://openpgpjs.org/" target="_blank">
    <img src="img/icon_openpgpjs.png" style="margin-left: 20px; width: 50px;"/></a></p>
  </div>
</div>
