mixin navEntry(dest, title)
  if dest == page
    li.active
      a(href="#") #{title}
  else
    li
      a(href="#{origin}/#{dest}") #{title}

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="http://www.mailvelope.com") Mailvelope
      .nav-collapse.collapse
        ul.nav
          mixin navEntry('', 'Home')
          mixin navEntry('help', 'Documentation')
          mixin navEntry('faq', 'FAQ')
          mixin navEntry('blog', 'Blog')
          mixin navEntry('about', 'About')
          //mixin navEntry('contribute', 'Contribute')